@model List<CarDetail>

<ul type="none">
    @foreach (CarDetail cardetail in Model)
    {
        <li>Car Name: @cardetail.Brand</li>
        <li>Car Name: @cardetail.Name</li>
        <li>Car Color: @cardetail.Color</li>
        <li>Car Years: @cardetail.Year</li>
    }
</ul>
